<script>

  // remove handler if it already exists
  $(document).off('click', '.ioportlet');

  // add click handler
  $(document).on('click', '.ioportlet', function() {

          var addPortlet = $(this);
          var ids = addPortlet.attr('id').split("-");
          var channelId  = ids[1];
          var windowId =ids[2];
          $.update("/channels/" + channelId +"/windows/"+ windowId + "/display" ,
                   function(response) {
                       var window = response.window;
                       var window_type = window.window_type;
                       var colId = window.col;
                       var colName = (window.private_flag == true) ? "private" : "public";
                       addPortlet.hide();
                         var portlet = addWindow(colName,colId, window.id, window_type, window.title, window.html );
                       //for each portlet

                       portlet.each ( decoratePortlet("true") );

                       portlet.find( ".ui-toggle" ).click( uiToggleClick );
                       portlet.find( ".ui-view" ).click( uiViewClick (channelId) );
                       portlet.find( ".ui-edit" ).click( uiEditClick (channelId) );
                       portlet.find( ".ui-close" ).click( uiCloseClick (channelId) );
                   }) ;
      });

</script>

<% if @windows.blank? %>
   <h4><%= t("portlets_all_displayed") %></h4>
<% else %>
   <h4><%= t("portlets_add") %></h4>
   <% @windows.each do |window| %>
     <div id="addPortlet-<%= window.channel_id %>-<%=window.id%>" class="ioportlet ui-widget-content addportlet" >
     <%= window.title %>
     </div>
   <% end %>
<% end %>
