<div class="row">
  <div class="col-xs-12 col-sm-6">

    <h4 class="breadcrumb"><%= t(:apps) %></h4>

    <div class="col-pad">

      <div class="apps">
        <%= link_to thinghttp_index_path do %>
          <%= image_tag 'thinghttp.png', :size => '104x104' %>
          <br>
          <%= t(:thinghttp) %>
        <% end %>
      </div>

      <div class="apps">
        <%= link_to reacts_path do %>
          <%= image_tag 'react.png', :size => '104x104' %>
          <br>
          <%= t(:react) %>
        <% end %>
      </div>

      <div class="apps">
        <%= link_to talkbacks_path do %>
          <%= image_tag 'talkback.png', :size => '104x104' %>
          <br>
          <%= t(:talkback) %>
        <% end %>
      </div>

      <div class="apps">
        <%= link_to timecontrols_path do %>
          <%= image_tag 'timecontrol.png', :size => '104x104' %>
          <br>
          <%= t(:timecontrol) %>
        <% end %>
      </div>

    </div>
  </div>

  <div id="sidebar" class="col-xs-12 col-sm-6">

    <h4 class="breadcrumb"><%= t(:help) %></h4>

    <div class="col-pad">

      <h3>
        <%= t(:thinghttp) %>
        <div class="helplink">(<a href="/docs/thinghttp/"><%= t(:help_options) %></a>)</div>
      </h3>
      <%= t(:help_apps_thinghttp) %>
      <br>

      <h3>
        <%= t(:react) %>
        <div class="helplink">(<a href="/docs/react"><%= t(:help_options) %></a>)</div>
      </h3>
      <%= t(:help_apps_react) %>

      <h3>
        <%= t(:talkback) %>
        <div class="helplink">(<a href="/docs/talkback"><%= t(:help_options) %></a>)</div>
      </h3>
      <%= t(:help_apps_talkback) %>
      <br><br>

      <h3>
        <%= t(:timecontrol) %>
        <div class="helplink">(<a href="/docs/timecontrol"><%= t(:help_options) %></a>)</div>
      </h3>
      <%= t(:help_apps_timecontrol) %>

    </div>
  </div>
</div>

<script language="javascript">
$(function() {
  $("#sidebar a").attr("target", "_blank");
});
</script>

